@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.active {
  color: rgb(82, 82, 236);
  text-decoration: underline;
  letter-spacing: 0;
  font-weight: 700;
}